*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(10, 8, 22);
    color: whitesmoke;
    font-family: cursive;
    text-align: center;
}

h4{
    font-size: 1.1rem;
}
